/* stylelint-disable no-descending-specificity */
@use "fonts";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #171717;
  --font-onest:
    "Onest", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-onest);
}

* {
  font-family: var(--font-onest);
}

.css-1ljffdk-MuiFormLabel-asterisk {
  color: red;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  appearance: none;
}
